@tailwind base;
@tailwind components;
@tailwind utilities;

.skeleton {
    animation: shimmer 1s ease-in-out infinite;
}

@keyframes shimmer {
    0% {
        background-position: 120% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.chat-click {
    z-index: 50;
    pointer-events: auto;
}

/* @media only screen and (max-width: 767.5px) {  
    .bilogout {
        margin-left: auto;
        margin-right: auto;
    }
} */